/* Google Font Links */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather&family=Open+Sans:wght@400;800&family=Work+Sans:wght@400;600;700&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
}

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

nav > ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 30px;

    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

nav li a{
    text-decoration: none;
    color:  #424242;
}

/* Banner Styles */

.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title{
    color: #131313;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
}

.banner-text{
    color: #727272;
    text-align: center;
}

.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;

    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;

    border: 0;

}

.banner img{
    margin-top: 25px;
    width: 100%;
}

/* Responsive Styles: Small or Mobile */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }

    nav{
        flex-direction: column;
    }
}

/* Responsive Styles: Medium or Tablet */
@media screen and 
(min-width: 577px) and 
(max-width: 992px) {
    header{
        padding: 50px;
    }

    nav{
        flex-direction: column;
    }
}